//- Atomic design

//- 1. ATOMS
//- E.g. HTML tags, such as form label, an input or a button
//- 2. MOLECULES
//- A form label, input or button aren’t too useful by themselves, but combine them together as a form and now they can actually do something together.
//- 3. ORGANISMS
//- Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.
//- Building up from molecules to organisms encourages creating standalone, portable, reusable components.
//- 4. TEMPLATES
//- Templates consist mostly of groups of organisms stitched together to form pages.
//- 5. PAGES
//- Pages are specific instances of templates.

- var googleFont = "Montserrat|Open+Sans"
- var dev = true
- var jQuery = true
