extends base

append metatags
  meta(name="description" content="Index page for the HTML startup template.")

block title
  | #{title}

//- Append, repend e.g. block prepend content
block content
  .container
    .row
      .col-md-12
        h3 Starter template



















